@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root {
    overflow: hidden;
} */

.textGradient {
    /* border: 2px solid red; */
    background-image: linear-gradient(
        90deg,
        rgb(173, 130, 216) 0%,
        rgb(168, 105, 128) 29%,
        rgb(175, 60, 47) 52%,
        rgba(96, 125, 37, 1) 74%,
        rgba(65, 87, 37, 1) 89%,
        rgb(141, 116, 170) 100%
    );
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: text-gradient-animation 5s infinite alternate;
    background-position: left;
}

@keyframes text-gradient-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: top;
    }
    100% {
        background-position: right;
    }
}

.gradientContainer {
    /* box-shadow: 16px 13px 20px #eaeaea; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: rgb(61, 60, 60);
    z-index: 1001;
}
.gradientContainer::before {
    content: "";
    background-image: conic-gradient(
        rgb(88, 137, 250),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(15 23 42),
        rgb(88, 137, 250)
    );
    width: 150%;
    height: 150%;
    position: absolute;
    z-index: -1;
    top: -30%;
    left: -20%;
    animation: rotateAnim 10s linear infinite;
}

@keyframes rotateAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.testGradient {
    background: radial-gradient(
        81.11% 147.05% at 2.17% 50%,
        #4789c8 0%,
        #d3e2e6 100%
    );
    background-clip: text;
    color: transparent;
}
#map-left path {
    fill: #8f8f8f;
    animation: mapColorAnimLeft 7s ease-in-out infinite;
}
#map-right path {
    fill: #8f8f8f;
    animation: mapColorAnimRight 7s ease-in-out infinite;
}

@keyframes mapColorAnimLeft {
    0% {
        fill: #64caea;
    }
    33% {
        fill: #4789c8;
    }
    66% {
        fill: #8f8f8f;
    }
    100% {
        fill: #64caea;
    }
}
@keyframes mapColorAnimRight {
    0% {
        fill: #4789c8;
    }
    33% {
        fill: #64caea;
    }
    66% {
        fill: #8f8f8f;
    }
    100% {
        fill: #4789c8;
    }
}
